* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #5d4157, #a8caba);
}

/* Landing screen, choice of difficulties */

.welcome-screen {
  display: flex;
  margin-top: -100px;
  padding: 0;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.welcome-screen h1 {
  font-size: clamp(24px, 4vw, 72px);
}
.welcome-screen h2 {
  font-size: clamp(18px, 2vw, 46px);
  
}

.mode {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 20vh;
  min-width: 350px;
  margin: 32px;
  animation: fadeIn2 4s ease-in;
}
.music {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 20vh;
  min-width: 350px;
  margin: 32px;
  animation: fadeIn 3s ease-in;
  
}

/* buttons */

.mode button {
  font-family: 'Montserrat', sans-serif; 
  font-size: clamp(12px, 1.2vw, 24px);
  border: solid 2px white;
  color: white; 
  min-width: 100px;
  width: 12vw;
  margin: 0 30px;
  background: transparent;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(255,255,255,0.2);
}
.music button {
  font-family: 'Montserrat', sans-serif; 
  font-size: clamp(12px, 1.2vw, 24px);
  border: solid 2px white;
  color: white; 
  min-width: 100px;
  width: 12vw;
  margin: 0 30px;
  background: transparent;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(255,255,255,0.2);
}

.mode button:hover {
  box-shadow: 1px 1px 1px 1px rgba(255,255,255,0.7);
  font-weight: bold;
  font-style: italic
} 
.music button:hover {
  box-shadow: 1px 1px 1px 1px rgba(255,255,255,0.7);
  font-weight: bold;
  font-style: italic;
} 

.music-info {
  display: none;
  font-size: 10px;
  opacity: 0.7;
  margin-top: 50px;
  align-self:center;
}

/* Main game styling */

.page-wrapper {
  display: flex;
  margin-top: 64px;
  padding: 0;
  flex-direction: row;
  height: 55vh;
  justify-content: center;
  align-items: center;
}


.grid-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 350px;
  min-width: 350px;
  height: 80vh;
  width: 80vw;
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  order: 2
}

/* cell size based on difficulty level  */

.beginner-cells {
  border: 1px solid white;
  opacity: 0.8;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  flex-grow: 1;
  border-radius: 5px;
  height: 11.11111111111%;
  width: 11.111111111111%;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.advanced-cells {
  border: 1px solid darkgray;
  border-radius: 5px;
  flex-grow: 1;
  height: 6.25%;
  width: 6.25%;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.expert-cells {
  border: 1px solid darkgray;
  border-radius: 5px;
  flex-grow: 1;
  height: 4.166666666666%;
  width: 4.1666666666666%;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* in game info  */

.mine-display{
  border: 6px outset white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  min-width: 75px;
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 125px;
  height: 100px;
  margin-right: 6vw;
}

.timer{
  border: 6px outset;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  margin-left: 6vw;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  order: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  min-width: 75px;
  width: 125px;
  height: 100px;
}


/* In game classes to toggle  */

.mine {
  background: url('../assets/pngegg.png');
  background-size:contain;
  background-repeat: no-repeat;
}

.hide {
  display: none;
}

.flag{
  background: url('../assets/flag.png');
  background-size:contain;
  background-repeat: no-repeat;
}

/* end game and reset options styling */

.end-game {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  height: 12vh;
  text-align: center;
  color: white;
}


.play-again {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 25%;
    height: 5vh;
    color: white;
    font-size: clamp(14px, 1.4vw, 24px);
    background: transparent;
    border: solid 2px white;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px rgba(255,255,255,0.2);
    margin: 50px auto;
    animation: fadeIn 5s;
  }
  
  .play-again:hover {
    box-shadow: 1px 1px 1px 1px rgba(255,255,255,0.7);
    font-weight: bold;
    font-style: italic
  } 

  .winner {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 100px;
    width: 25vw;
    height: 45vh;
    flex-direction: column;
    color: white;
    animation: fadeIn 3s ease-in;
    font-family: 'Montserrat', sans-serif;
  }

  .winner h1 {
  font-size: 32px;
  }

  .winner p{
    font-size: 16px;
  }

/* media query for smaller screen sizes & desktop half-size display */
  
  
  @media (max-width: 700px) {
    .welcome-screen {
      display: flex;
      margin-top: -100px;
      padding: 0;
      flex-direction: column;
      height: 90vh;
      justify-content: center;
      align-items: center;
      color: white;
      font-family: 'Montserrat', sans-serif;
    }
    
    .page-wrapper {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      flex-direction: row;
      height: 85vh;
      max-width: 85vw;
      margin-top: -50px;
      margin-left: 40px;
    }
    
    
    .grid-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 400px;
      max-height: 400px;
      align-items: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    }
  
    .mine-display{
      border: 6px outset white;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
      color: white;
      font-family: 'Montserrat', sans-serif;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      max-width: 40px;
      max-height: 60px;
    }
    
    .timer{
      border: 6px outset;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
      color: white;
      font-family: 'Montserrat', sans-serif;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      max-width: 40px;
      max-height: 60px;
    }

    .end-game {
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      height: 12vh;
      text-align: center;
      color: white;
    }
    
    .play-again {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        width: 25%;
        height: 5vh;
        color: white;
        font-size: clamp(14px, 1.4vw, 24px);
        background: transparent;
        border: solid 2px white;
        font-family: 'Montserrat', sans-serif;
        padding: 10px;
        box-shadow: 1px 1px 1px 1px rgba(255,255,255,0.2);
        margin: 0px auto;
        animation: fadeIn 5s;
      }
      
      .play-again:hover {
        box-shadow: 1px 1px 1px 1px rgba(255,255,255,0.7);
        font-weight: bold;
        font-style: italic
      } 
    
      .winner {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 300px;
        height: 200px;
        flex-direction: column;
        color: white;
        animation: fadeIn 3s ease-in;
        font-family: 'Montserrat', sans-serif;
      }
    
      .winner h1 {
      font-size: 16px;
      }
    
      .winner p{
        font-size: 14px;
      }
      .hide {
        display: none;
      }
  }

 /* Animation */ 


@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeIn2 {
  0% {opacity: 0;}
  50% {opacity: 0.1;}
  75% {opacity: 0.3;}
  100% {opacity: 1;}
}


@keyframes shake-horizontal{
  0%,100%{transform:translateX(0)}
  10%,30%,50%,70%{transform:translateX(-10px)}
  20%,40%,60%{transform:translateX(10px)}
  80%{transform:translateX(8px)}
  90%{transform:translateX(-8px)}}



@keyframes jello-horizontal{
  0%{transform:scale3d(1,1,1)}
  30%{transform:scale3d(1.25,.75,1)}
  40%{transform:scale3d(.75,1.25,1)}
  50%{transform:scale3d(1.15,.85,1)}
  65%{transform:scale3d(.95,1.05,1)}
  75%{transform:scale3d(1.05,.95,1)}
  100%{transform:scale3d(1,1,1)}}


@keyframes bounce-top{
  0%{transform:translateY(-45px);animation-timing-function:ease-in;opacity:1}
  24%{opacity:1}
  40%{transform:translateY(-24px);animation-timing-function:ease-in}
  65%{transform:translateY(-12px);animation-timing-function:ease-in}
  82%{transform:translateY(-6px);animation-timing-function:ease-in}
  93%{transform:translateY(-4px);animation-timing-function:ease-in}
  25%,55%,75%,87%{transform:translateY(0);animation-timing-function:ease-out}
  100%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}}