* {
  box-sizing: border-box;
}

.page-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  height: 95vh;
  justify-content: center;
  align-items: center;
}


.grid-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 400px;
  width: 400px;
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}


.grid-container div {
  border: 1px solid darkgray;
  flex-grow: 1;
  height: 10%;
  width: 10%;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.info-board {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 50px;
  /* border: 6px inset grey;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); */
  background-color: darkgray;
}

.scoreboard{
  border: solid black;
  width: 20%;
}

.emoji{
  border: solid black;
  width: 15%;
}
.timer{
  border: solid black;
  width: 20%;
}


/* Contents  */

.mine {
  background: url('../assets/pngegg.png');
  background-size:contain;
  background-repeat: no-repeat;
}

.visability {
  display: none;
  background-color: darkgray;
}

.flag{
  background: url('../assets/flag.png');
  background-size:contain;
  background-repeat: no-repeat;
}


.blank{}

/* States  */
/* 
.unrevealed {
  background: grey;
} */